[Desktop Entry]
GenericName=Magnetgraph
Name=Magnetgraph
Exec=magnetgraph-desktop %U
Icon=/usr/share/pixmaps/magnetgraph.png
Type=Application
Terminal=false
Categories=Utility;
Comment=BitTorrent based blogging network